<h1 class='header'>Strona Główna</h1>
<% if logged_in? %>
  <h2>Moje Plany</h2>
  <% current_user.plans.each do |plan| %>
    <h3><%= plan.plan_name %></h3>
    <% plan.exercises.each do |exercise| %>
      <h4><%= exercise.description %> by <%= exercise.user.email %></h4>
    <% end %>
  <% end %>
<% else %>
  Nie jesteś zalogowany.
<% end %>
